
@import "../../../styles/mixins";


.title {
	margin-bottom: 30px !important;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}


@include md-up {

	.title {
		margin-bottom: 80px !important;
	}
};
