
@import '../../../styles/variables';


.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

.titleWrapper {
	margin-bottom: 50px;
}

.playersWrapper {
	font-size: 1.2rem;
}

.buttonWrapper {
	margin-top: 30px
}

.waitingText {
	margin-top: 10px !important;
	color: $grey;
}

.admin-btn {
	margin-top: 60px;

	> * {
		margin: 10px 0 !important;
	}
}
