
// Width variables
$xs: map_get($screen-breakpoint, xs);
$sm: map_get($screen-breakpoint, sm);
$md: map_get($screen-breakpoint, md);
$lg: map_get($screen-breakpoint, lg);
$xl: map_get($screen-breakpoint, xl);



// XS
@mixin xs-only {
    @media (min-width: $xs) and (max-width: $sm - 1) { @content; }
}


// SM
@mixin sm-up {
    @media (min-width: $sm) { @content; }
}

@mixin sm-down {
    @media (max-width: $md - 1) { @content; }
}

@mixin sm-only {
    @media (min-width: $sm) and (max-width: $md - 1) { @content; }
}


// MD
@mixin md-up {
    @media (min-width: $md) { @content; }
}

@mixin md-down {
    @media (max-width: $lg - 1) { @content; }
}

@mixin md-only {
    @media (min-width: $md) and (max-width: $lg -1) { @content; }
}


// LG
@mixin lg-up {
    @media (min-width: $lg) { @content; }
}

@mixin lg-down {
    @media (max-width: $xl - 1) { @content; }
}

@mixin lg-only {
    @media (min-width: $lg) and (max-width: $xl - 1) { @content; }
}


// XL
@mixin xl-up {
    @media (min-width: $xl) { @content; }
}
